name: Build and Push Docker Images

on:
  push:
    branches:
      - ci

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images
        run: |
          REPO_NAME=${GITHUB_REPOSITORY#*/}
          COMMIT_HASH=${GITHUB_SHA::7}

          for dir in */ ; do
            if [ -f "$dir/Dockerfile" ]; then
              SERVICE_NAME=$(basename "$dir")
              IMAGE_NAME="ghcr.io/${GITHUB_REPOSITORY}/${SERVICE_NAME}"

              echo "Building image $IMAGE_NAME:$COMMIT_HASH and $IMAGE_NAME:latest"
              
              curl -L -o "$dir/redirect_pkg_handler" https://github.com/ThisSeanZhang/landscape/releases/latest/download/redirect_pkg_handler-x86_64

              docker build -t "$IMAGE_NAME:$COMMIT_HASH" "$dir"
              docker tag "$IMAGE_NAME:$COMMIT_HASH" "$IMAGE_NAME:latest"

              docker push "$IMAGE_NAME:$COMMIT_HASH"
              docker push "$IMAGE_NAME:latest"
            fi
          done
